{% extends 'base.html' %}

{% block title %}SERVICES{% endblock title %}

{% block body %}

<div class='container px=0 my-4'>
  <img src="/static/image/services.jpeg" width="1100px" height="180px" alt="..." style="border-radius: 15px;">
</div>

<div class='container my-5'>
  <h1 class="my-4"> OUR SERVICES </h1>
  <div class="row">
    <div class="col-lg-4">
      <img src="/static/image/customdesign.jfif" class="d-block w-100" alt="..." style="border-radius: 15px;">
      <h2>CUSTOM DESIGN ELEMENTS</h2>
      <p>In this you get services according to your demand and you get the thing of your choice and taste.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="/static/image/graphics.jfif" class="d-block w-100" alt="..." style="border-radius: 15px;">      
      <h2>GRAPHIC/LOGO DESIGNING</h2>
      <p>We provide you the graphics and logos that gives a visual communication tool to help you get your message across to the audience.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="/static/image/misceleneous.jfif" class="d-block w-100" alt="..." style="border-radius: 15px;">
      <h2>MISCELENEOUS/OTHER SERVICES</h2>
      <p>We provide other services for you such as Editing, Product Designing, Banners for your websites and social media, Copy typing, Data Entry,  etc...</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
</div>



{% endblock body %}
